<div class="container-xxl flex-grow-1 container-p-y">
    <!-- User Sidebar -->
    <!-- User Card -->
    <!-- Activity Timeline -->
    <div class="card mb-4">
        <!-- Bootstrap Table with Header - Dark -->
        <p>salam !</p>
    </div>
</div>