<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xxl">
        <script src="../../assets/vendor/libs/quill/katex.js"></script>
        <script src="../../assets/vendor/libs/quill/quill.js"></script>
        <div class="card mb-4">
            <form action="/Admin/Work/NewWorkPost" method="post" enctype="multipart/form-data" id="postForm">
                <h5 class="card-header heading-color">پست جدید</h5>
                <div class="card-body row">

                    <div class="mb-3 col-lg-6 col-xl-6 col-12">
                        <label for="PostTitle" class="form-label">تایتل پست</label>
                        <input type="text" class="form-control" id="PostTitle" placeholder="تایتل پست را وارد کنید"
                            aria-describedby="defaultFormControlHelp" name="Title" autofocus required>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-12 mb-4">
                        <label for="PostTitle" class="form-label">انتخاب دسته‌بندی‌ها</label>
                        <input type="hidden" name="CategoriesIdString" id="CategoriesIdString" />
                        <div class="">
                            <button class="btn btn-outline-primary w-100 form-control" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd">
                                مشاهده دسته‌بندی‌ها
                            </button>
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd"
                                aria-labelledby="offcanvasEndLabel">
                                <div class="offcanvas-header">
                                    <h5 id="offcanvasEndLabel" class="offcanvas-title">خارج از کادر پایان</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body my-auto mx-0 flex-grow-0">
                                    @foreach (WorkCategory cat in ViewBag.Categories)
                                    {
                                        <label class="switch">
                                            <input type="checkbox" class="switch-input" data-category-id="@cat.Id">
                                            <span class="switch-toggle-slider">
                                                <span class="switch-on"></span>
                                                <span class="switch-off"></span>
                                            </span>
                                            <span class="switch-label">@cat.WorkCatName</span>
                                        </label>
                                    }
                                    <button type="button" class="btn btn-label-secondary d-grid w-100"
                                        data-bs-dismiss="offcanvas">
                                        انصراف
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 col-lg-6 col-xl-6 col-12">
                        <label for="formFile" class="form-label">تصویر اصلی</label>
                        <input class="form-control" type="file" id="formFile" name="mainImg" required />
                    </div>

                    <div class="mb-3 col-lg-6 col-xl-6 col-12">
                        <label for="formFile" class="form-label">تصاویر</label>
                        <input class="form-control" type="file" id="formFile" name="images" multiple required />
                    </div>

                    <div class="mb-3 col-lg-12 col-xl-12 col-12">
                        <label for="postCap" class="form-label">کپشن پست</label>
                        <textarea type="text" class="form-control" id="postCap"
                            placeholder="متن کوتاه شده که به موضوع پست اشاره کند."
                            aria-describedby="defaultFormControlHelp" name="Discription" required></textarea>
                    </div>
                    <div class="mb-3 col-lg-12 col-xl-12 col-12">
                        <label for="snow-toolbar" class="form-label">محتوای پست</label>
                        <input type="hidden" name="body" id="hiddenBodyText">
                        <div class="mt-1 mb-1">
                            <div id="snow-toolbar">
                                <span class="ql-formats">
                                    <select class="ql-font"></select>
                                    <select class="ql-size"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-script" value="sub"></button>
                                    <button class="ql-script" value="super"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-header" value="1"></button>
                                    <button class="ql-header" value="2"></button>
                                    <button class="ql-blockquote"></button>
                                    <button class="ql-code-block"></button>
                                </span>
                            </div>
                            <div id="snow-editor">
                                <h4>متن اصلی را وارد کنید ...</h4>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 col">
                        <button class="btn btn-outline-success w-100" style="white-space: nowrap;" type="submit">
                            ایجاد پست جدید
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        // ایجاد ویرایشگر Quill
        const snowEditor = new Quill('#snow-editor', {
            bounds: '#snow-editor',
            modules: {
                formula: true,
                toolbar: '#snow-toolbar'
            },
            theme: 'snow'
        });

        $('#postForm').submit(function (event) {
            // جلوگیری از ارسال فرم تا محتوای ویرایشگر را به فیلد مخفی منتقل کنیم
            event.preventDefault();

            // گرفتن محتوای ویرایشگر و قرار دادن آن در فیلد مخفی
            var editorContent = snowEditor.root.innerHTML;
            $('#hiddenBodyText').val(editorContent);

            // جمع‌آوری دسته‌بندی‌های انتخاب شده
            var activeCats = [];
            $('.switch-input:checked').each(function () {
                activeCats.push($(this).data('category-id'));
            });
            $('#CategoriesIdString').val(activeCats.join(','));

            // ارسال فرم
            this.submit();
        });
    });
</script>
